<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="test/Bootstrap.php">
    <testsuites>
        <testsuite name="san-session-toolbar-test">
            <directory suffix=".php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./config</directory>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="./build/coverage/coverage-san-session-toolbar.cov"/>
        <log type="coverage-html" target="./test/html-report/" charset="UTF-8" yui="true" />
    </logging>
</phpunit>
