<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="test/Bootstrap.php">
    <testsuites>
        <testsuite name="san-session-toolbar-test">
            <directory suffix=".php">./test/SanSessionToolbarTest/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./test/</directory>
                <!--
                    TODO : add test for this file in ZF2 2.4.0, because
                    current Zend\Test require PHPUnit 3.7.*
                -->
                <file>./src/SanSessionToolbar/Controller/SessionToolbarController.php</file>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-php" target="./build/coverage/coverage-application.cov"/>
    </logging>
</phpunit>
